*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

    --shadow-transparent: rgba(0, 0, 0, 0.1);
    
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
}


body{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;

    background-color: var(--dark-blue);
    color: var(--light-cyan);

    min-height: 100vh;
    min-width: 375px;

    display: grid;
    grid-template-rows: auto 40px;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 0 1rem;
}
.card{
    background-color: var(--dark-grayish-blue);

    padding: 36px 28px;
    border-radius: 16px;

    max-width: 540px;
    position: relative;
    text-align: center;
    box-shadow: 20px 20px 40px var(--shadow-transparent);
}
.card__titulo{
    color: var(--neon-green);
    letter-spacing: 3px;

    font-size:   10px;
    margin-bottom: 0.9rem;
}
.card__conselho{
    font-size: 1.5rem;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__conselho::after{
    content: "";
    display: block;

    width: 295px;
    height: 16px;
    margin: 1.5rem 0;

    background-image: url("./images/pattern-divider-mobile.svg");
    background-repeat: no-repeat;
}
.card div{
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translate(-50%, 50%);
}
.card__button{
    background-color: var(--neon-green);
    background-image: url("./images/icon-dice.svg");
    background-repeat: no-repeat;
    background-position: center;

    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;

    transform-origin: center;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

[loading]{
    animation: rotate 1s infinite;
}

.card__button:focus,
.card__button:hover{
    box-shadow: 0 0 20px var(--neon-green);
    outline: none;
}
@keyframes rotate {
    to {
        transform: rotateZ(360deg);
    }
}
